<!DOCTYPE html>
<html>
<head>
</head>
<body>
<center>
<table border="0" width="500">
<tr>
<td bgcolor="lime" align="center">Name</td><td bgcolor="lime" align="center">Danny Chan</td>
</tr>
<tr>
<td align="center">Photo</td><td align="center"><img src="peter.jpg" width="100"></td>
</tr>
<tr>
<td bgcolor="yellow" align="center">Age</td>
<td bgcolor="yellow" align="center">Twelve</td>
</tr>
<tr>
<td align="center">Gender</td>
<td align="center">Male</td>
</tr>
</table>
</center>
</body>
</html>